<section class="text-gray-400 body-font bg-gray-900" style="height: 1000px;">
    <div class="ai-tool-container">
        <h1>Welcome to Your AI Tool</h1>
        <br>
    
        <div class="service-box" (click)="launchColorDetection()" (mouseover)="showInfo('Color Detection')" (mouseout)="hideInfo()">
        <img src="assets/kisspng-web-development-web-design-5afcacf6e45de4.1223435715265087909354.png" alt="Color Detection">
        <span class="info-text">Color Detection</span>
        </div>
    
        <div class="service-box" (click)="launchGeminiChat()" (mouseover)="showInfo('Gemini Chat')" (mouseout)="hideInfo()">
        <img src="assets/447-4475949_zodiac-constellations-png-high-quality-image-gemini-star.png" alt="Gemini Chat">
        <span class="info-text">Gemini Chat</span>
        </div>
    
        <div class="service-box" (click)="launchMeasurementTool()" (mouseover)="showInfo('Measurement Tool')" (mouseout)="hideInfo()">
        <img src="assets/transparent-tape-measure-5e90db7962b138.6043627915865516734043.png" alt="Measurement Tool">
        <span class="info-text">Measurement Tool</span>
        </div>
    
        <div class="service-box" (click)="launchArtGenerator()" (mouseover)="showInfo('Art Generator')" (mouseout)="hideInfo()">
        <img src="assets/pngtree-artificial-intelligence-robot-cartoon-design-intelligencerobottechnology-products-png-image_4028817.jpg" alt="Art Generator">
        <span class="info-text">Art Generator</span>
        </div>
  </div>
</section>> 