.heading{
     
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600; /* Set similar font weight */
        text-align: center; /* Center align like Gemini */
        animation: fadeIn 2s ease-in-out; /* Add fadeIn animation */
        font-size: 150px;
        padding-top: 150px;
    background: linear-gradient(90deg,#ff0000,#ffff00,#ff00f3,#0033ff,#ff00c4,#ff0000);
    background-size: 400%;
    letter-spacing: 5px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;  
    background-clip: border-box;
    -webkit-background-clip: text;    
    animation: animate 10s linear infinite;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.subheading{
    text-align: center;
}
.subheading:hover{
    color: azure;
    animation-delay: 10;
}
@keyframes animate {
    0%{
        background-position: 0%;

    }
    100%{
        background-position: 400%;
    }
    
}